{% extends 'base.html' %}
{% block content %}


<textarea id="out-log" cols="100" rows="20"></textarea><br>
<input id="input" type="text" size="100"><br>
<input id="submit" type="button" value="Send">
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
    </div>
  </div>
</form>
<script>
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/objectdetection'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#out-log').value += (data.message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#input').focus();
    document.querySelector('#input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#submit').click();
        }
    };

    document.querySelector('#submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>
<!-- <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.dataset_name.label_tag}}
      {{ form.dataset_name|add_class:"form-control" }}
      {{ form.dataset_name.errors }}
      {{ form.image_type.label_tag}}
      {{ form.image_type|add_class:"form-control" }}
      {{ form.image_type.errors }}
      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form.val_pct.label_tag}}
          {{ form.val_pct|add_class:"form-control" }}
          {{ form.val_pct.errors }}
        </div>
        <div class="form-group col-md-6">
          {{ form.test_pct.label_tag}}
          {{ form.test_pct|add_class:"form-control" }}
          {{ form.test_pct.errors }}
        </div>
      </div>
      <div class="form-row">
        <label>Source Directory (Pleas select all files)</label>
        {{ form.source_path|add_class:"form-control" }}
        {{ form.source_path.errors }}
      </div>
    </div>
    <div class="form-group col-md-6">
      {{ form.memo.label_tag}}
      {{ form.memo|add_class:"form-control" }}
      {{ form.memo.errors }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.architecture_type.label_tag}}
      {{ form.architecture_type|add_class:"form-control" }}
      {{ form.architecture_type.errors }}
    </div>
    <div class="form-group col-md-6">
      {{ form.epochs.label_tag}}
      {{ form.epochs|add_class:"form-control" }}
      {{ form.epochs.errors }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.bath_size.label_tag}}
      {{ form.bath_size|add_class:"form-control" }}
      {{ form.bath_size.errors }}
    </div>
    <div class="form-group col-md-6">
      {{ form.classes.label_tag}}
      {{ form.classes|add_class:"form-control" }}
      {{ form.classes.errors }}
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.learning_rate.label_tag}}
      {{ form.learning_rate|add_class:"form-control" }}
      {{ form.learning_rate.errors }}
    </div>
    <div class="form-group col-md-6">
      {{ form.optimizer.label_tag}}
      {{ form.optimizer|add_class:"form-control" }}
      {{ form.optimizer.errors }}
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Train</button>

</form>
{% if output %}<h3>{{ output }}</h3>{% endif %}
{% if exit_code %}<h3>Your command returned an error: {{ error_msg }}</h3>{% endif %}
  
 -->
 {% endblock %}